name: Release

# Trigger only when a tag is pushed
on:
  push:
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.10.1
    - name: Checkout code
      uses: actions/checkout@v2
      with:
        path: go/src/github.com/Traackr/binnacle
    - name: Build
      run: make -C go/src/github.com/Traackr/binnacle build
      env:
        TARGETS: release
        GENERATE_PACKAGES: true
        GOPATH: ${{ github.workspace }}/go
    - name: Release
      uses: softprops/action-gh-release@v1
      with:
        files: |
          "${{ github.workspace }}/go/src/github.com/Traackr/binnacle/pkg/binnacle-*.tar.gz"
          "${{ github.workspace }}/go/src/github.com/Traackr/binnacle/pkg/SHA256SUM.txt"
        fail_on_unmatched_files: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
