name: Release

# Trigger only when a tag is pushed
on:
  push:
    tags:
      - '*'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Cache Go Dependencies
      uses: actions/cache@v2
      with:
        path: |
          ~/go/pkg/mod
          ~/.cache/go-build
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-

    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.18.1

    - name: Test
      run: go test -v ./...

    - name: Build
      run: make build
      env:
        TARGETS: release
        GENERATE_PACKAGES: true

    - name: Release
      uses: softprops/action-gh-release@35d938cf01f60fbe522917c81be1e892074f6ad6
      with:
        files: |
          pkg/binnacle-*.tar.gz
          pkg/SHA256SUM.txt
        fail_on_unmatched_files: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
